Enter id: <input [(ngModel)]="employee.id" type="number"> <br>
Enter name: <input [(ngModel)]="employee.name" type="text"> <br>
<button *ngIf="!isEdit" (click)="addEmployee()">Add</button>
<button *ngIf="isEdit" (click)="saveEmployee()">Save</button>
<button *ngIf="isEdit" (click)="cancelEdit()">Cancel</button>

<div>
  List of EMployees
  <div *ngFor="let emp of employees">
    {{emp.id}} {{emp.name}}
    <button (click)="onEditClick(emp)">Edit</button>
    <button (click)="deleteEmployee(emp.id)">Delete</button>
  </div>

  <div *ngIf="!employees.length">No employees to show</div>
</div>
